  <div class="divider">
    <div class="sigin-form">
      <div class="form-container">
        <h1>Reset Password</h1>
        <!-- <p class="lt-300">Create your account</p> -->
        <form [formGroup]="resetForm">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Email address"
                formControlName="email"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
              <input
              matInput
              formControlName="password"
              [type]="hidePassword ? 'password' : 'text'"
              placeholder="Password"
              (change)="onPasswordChange($event)"
              required
              />
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
                hidePassword ? "visibility" : "visibility_off"
              }}</mat-icon>
            </mat-form-field>
          </div>
          <div class="small-checkbox">
            <div class="row">
              <p *ngIf="!hasUpper" class="lt-300 mt-0 row-items">
                Uppercase letters <span class="warn">*</span>
              </p>
              <p *ngIf="!hasLower" class="lt-300 mt-0 row-items">
                Lowercase letters <span class="warn">*</span>
              </p>
            </div>
            <div class="row">
              <p *ngIf="!hasSpecialChar" class="lt-300 mt-0 row-items">
                Special characters <span class="warn">*</span>
              </p>
              <p *ngIf="!hasDigits" class="lt-300 mt-0 row-items">
                Numbers <span class="warn">*</span>
              </p>
            </div>
            <p *ngIf="!isRightLength" class="lt-300 mt-0 row-items">
              Length of 8 <span class="warn">*</span>
            </p>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                formControlName="confirmPassword"
                [type]="hideConfirmPassword ? 'password' : 'text'"
                placeholder="Password"
                required
              />
              <mat-icon
                matSuffix
                (click)="hideConfirmPassword = !hideConfirmPassword"
                >{{
                  hideConfirmPassword ? "visibility" : "visibility_off"
                }}</mat-icon
              >
            </mat-form-field>
          </div>
          <div class="center">
            <button
              class="submit-btn circular-radius"
              mat-button
              (click)="onSubmit()"
              [disabled]="!isFormValid"
            >
              Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  