.divider {
  display: flex;
  max-width: 100vw;
  height: 92vh;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../assets/images/background_net.svg");
  background-position: 110% -185%;
}

.sigin-form {
  display: flex;
  width: 46%;
  justify-content: center;

}

.form-container {
  width: 70%;
}

mat-form-field {
  width: 100% !important;
}

.submit-btn {
  padding: 1.3rem 0.3rem;
  width: 100%;
  background-color: black;
  color: white !important;
}

.center {
  display: flex;
  justify-content: center;
}

.circular-radius {
  border-radius: 0.55rem !important;
}

.margin-top {
  margin-top: 0.5rem;
}

.lt-300 {
  color: grey;
  font-weight: 300;
}

.lt-400 {
  font-weight: 350;
}

.desc-container {
  width: 85%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 45%;
}

.row-sp-betwn {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.8rem;
}

.row-items {
  width: 50%;
  justify-self: start;
  align-self: center;
}

.x-gap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

.row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  min-height: fit-content;
}

.icon-image {
  width: 2.6rem;
  height: 2.6rem;
}

.navigator-anchor {
  cursor: pointer;
}

.small-checkbox {
  font-size: small;
}

.mat-icon {
  vertical-align: middle !important;
}

.mt-0 {
  margin-top: 0;
}

.warn {
  color: red;
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 0.55rem;
}
