<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap"
  rel="stylesheet"
/>

<div class="container">
  <!-- <div class="sidebar">This is the side bar</div> -->
  <div class="main">
    <!-- Main Content -->
    <div class="main-content">
      <div class="main-title">
        <h1>Edit Profile</h1>
      </div>
      <div class="main-body">
        <div class="info">
          <!-- Profile Image -->
          <div class="profile-image">
            <div class="image-wrapper">
              <img
                *ngIf="imagePreview != ''"
                [src]="imagePreview"
                alt="Image Preview"
              />
              <img
                *ngIf="imagePreview === ''"
                src="{{ companyProfile!.profileImage }}"
                alt=""
              />
              <!-- Upload Image btn -->
              <div class="upload-image">
                <div (click)="fileInput.click()" class="submit-or-cancel">
                  <button>Upload Image</button>
                  <input
                    hidden
                    (change)="onFileSelected()"
                    #fileInput
                    type="file"
                    id="file"
                  />
                </div>
                <div *ngIf="imagePreview != ''" class="submit-or-cancel">
                  <div
                    class="cancel-btn"
                    (click)="imagePreview = ''"
                    class="cancel-btn"
                  >
                    <button>Cancel</button>
                  </div>
                  <div (click)="saveImage()" class="submit-btn">
                    <button>Save</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="space"></div> -->
          </div>
          <!-- Personal Info -->
          <div class="personal-info">
            <div class="header">
              <h3>Company Information </h3>
              <div
                *ngIf="!toggledProperties['isCompanyInfoEditMode']"
                (click)="toggleEdit('isCompanyInfoEditMode')"
                class="edit-btn"
              >
                <img src="assets/images/edit.svg" alt="" />
                <p>Edit</p>
              </div>
            </div>
            <div
              *ngIf="!toggledProperties['isCompanyInfoEditMode']"
              class="content"
            >
              <div class="content-body">
                <h4 class="title">Company Name</h4>
                <h4 class="value">{{ companyProfile!.companyName }}</h4>
              </div>
              <div class="content-body">
                <h4 class="title">Email</h4>
                <h4 class="value">{{ companyProfile!.email }}</h4>
              </div>
              <div class="content-body">
                <h4 class="title">Phone Number</h4>
                <h4 class="value">{{ companyProfile!.phoneNumber }}</h4>
              </div>
            </div>
            <div *ngIf="toggledProperties['isCompanyInfoEditMode']">
              <form
                [formGroup]="companyProfileForm"
                (ngSubmit)="editCompanyProfile('isCompanyInfoEditMode')"
                class="form info-edit"
              >
                <mat-form-field appearance="outline" class="input-field">
                  <mat-label>Company Name</mat-label>
                  <input
                    matInput
                    placeholder="Full Name"
                    formControlName="companyName"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-field">
                  <mat-label>Email </mat-label>
                  <input matInput placeholder="email" formControlName="email" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="input-field">
                  <mat-label>Phone Number </mat-label>
                  <input
                    matInput
                    placeholder="phone number"
                    formControlName="phoneNumber"
                  />
                </mat-form-field>
                <div class="submit-or-cancel">
                  <div
                    class="cancel-btn"
                    (click)="toggleEdit('isCompanyInfoEditMode')"
                    class="cancel-btn"
                  >
                    <button>Cancel</button>
                  </div>
                  <div class="submit-btn">
                    <button>Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- Address Section -->
          <div class="location">
            <div class="header">
              <h3>Address</h3>
              <div
                *ngIf="!toggledProperties['isAddressEditMode']"
                (click)="toggleEdit('isAddressEditMode')"
                class="edit-btn"
              >
                <img src="assets/images/edit.svg" alt="" />
                <p>Edit</p>
              </div>
            </div>
            <div
              *ngIf="!toggledProperties['isAddressEditMode']"
              class="location-card"
            >
              {{ companyProfile!.address }}
            </div>
            <div *ngIf="toggledProperties['isAddressEditMode']">
              <form
                [formGroup]="companyProfileForm"
                (ngSubmit)="editCompanyProfile('isAddressEditMode')"
                class="form location-edit"
              >
                <mat-form-field appearance="outline" class="input-field">
                  <mat-label>Address</mat-label>
                  <input
                    matInput
                    placeholder="Address"
                    formControlName="address"
                  />
                </mat-form-field>
                <div class="submit-or-cancel">
                  <div
                    (click)="toggleEdit('isAddressEditMode')"
                    class="cancel-btn"
                    (click)="toggleEdit('isAddressEditMode')"
                    class="cancel-btn"
                  >
                    <button>Cancel</button>
                  </div>
                  <div class="submit-btn">
                    <button>Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- Bio Section -->
          <div class="bio">
            <div class="header">
              <h3>Company Description</h3>
              <div
                *ngIf="!toggledProperties['isCompanyDescriptionEditMode']"
                (click)="toggleEdit('isCompanyDescriptionEditMode')"
                class="edit-btn"
              >
                <img src="assets/images/edit.svg" alt="" />
                <p>Edit</p>
              </div>
            </div>
            <div
              *ngIf="!toggledProperties['isCompanyDescriptionEditMode']"
              class="location-card"
            >
              {{ companyProfile!.companyDescription}}
            </div>
            <div *ngIf="toggledProperties['isCompanyDescriptionEditMode']">
              <form
                [formGroup]="companyProfileForm"
                (ngSubmit)="editCompanyProfile('isCompanyDescriptionEditMode')"
                class="form bio-edit"
              >
                <mat-form-field appearance="outline" class="input-field">
                  <mat-label>Company Description</mat-label>
                  <textarea
                    matInput
                    placeholder="biography"
                    formControlName="companyDescription"
                  ></textarea>
                </mat-form-field>
                <div class="submit-or-cancel">
                  <div
                    (click)="toggleEdit('isCompanyDescriptionEditMode')"
                    class="cancel-btn"
                    (click)="toggleEdit('isCompanyInfoEditMode')"
                    class="cancel-btn"
                  >
                    <button>Cancel</button>
                  </div>
                  <div class="submit-btn">
                    <button>Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Website Sction -->
          <div class="location">
            <div class="header">
              <h3>Website</h3>
              <div
                *ngIf="!toggledProperties['isCompanyWebsiteEditMode']"
                (click)="toggleEdit('isCompanyWebsiteEditMode')"
                class="edit-btn"
              >
                <img src="assets/images/edit.svg" alt="" />
                <p>Edit</p>
              </div>
            </div>
            <div
              *ngIf="!toggledProperties['isCompanyWebsiteEditMode']"
              class="location-card"
            >
              <a href="https://www.example.com" target="_blank" >{{ companyProfile!.companyWebsite }}</a>

              <!-- {{ companyProfile!.companyWebsite }} -->
            </div>
            <div *ngIf="toggledProperties['isCompanyWebsiteEditMode']">
              <form
                [formGroup]="companyProfileForm"
                (ngSubmit)="editCompanyProfile('isCompanyWebsiteEditMode')"
                class="form location-edit"
              >
                <mat-form-field appearance="outline" class="input-field">
                  <mat-label>Website</mat-label>
                  <input
                    matInput
                    placeholder="Website"
                    formControlName="companyWebsite"
                  />
                </mat-form-field>
                <div class="submit-or-cancel">
                  <div
                    (click)="toggleEdit('isCompanyWebsiteEditMode')"
                    class="cancel-btn"
                    (click)="toggleEdit('isCompanyWebsiteEditMode')"
                    class="cancel-btn"
                  >
                    <button>Cancel</button>
                  </div>
                  <div class="submit-btn">
                    <button>Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Status Bar -->
        <div class="status-bar">
          <h2>Complete Your Profile <span>70% completed</span></h2>
          <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
          <div class="status-detail">
            <div class="detail-item">
              <mat-icon>done</mat-icon>
              <h5>Account Created</h5>
            </div>
            <div class="detail-item">
              <mat-icon>done</mat-icon>
              <h5>Added Company Information</h5>
            </div>
            <div class="detail-item">
              <mat-icon>done</mat-icon>
              <h5>Added Profile Picture</h5>
            </div>

            <div class="detail-item">
              <mat-icon>done</mat-icon>
              <h5>Added Description</h5>
            </div>

            <div class="detail-item">
              <mat-icon>radio_button_unchecked</mat-icon>
              <h5>Added Payment Information</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
