
<div class="body">
  <div class="container">
    <div class="divider">
      <div class="profile-container">
        <app-profile-picture class="p-image" imageUrl="" initials="{{getInitials()}}" size= {{this.imageSize}} (imageSelected)="getProfilePic($event)" ></app-profile-picture>
        <h2>Add profile picture</h2>
      </div>
      <mat-divider class="vertical-line" [vertical]="true" style="height: 70vh"></mat-divider>
      <mat-stepper linear class="stepper-container">
        <div class="form-container">
          <form [formGroup]="this.profileControl" autocomplete="off">
            <mat-step [stepControl]="profileControl">
              <div class="step-container">
                <ng-template matStepLabel>Basic Information</ng-template>
                <mat-form-field appearance="outline">
                  <mat-label>Full Name</mat-label>
                  <input matInput formControlName="userName" required />
                </mat-form-field>
                <mat-form-field  appearance="outline">
                  <mat-label> Email</mat-label>
                  <input matInput type="email" formControlName="userEmail" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Bio</mat-label>
                  <textarea matInput formControlName="bio"></textarea>
                </mat-form-field>

                <div class="action-btn">
                  <button mat-button matStepperPrevious  type="button">Back</button>
                  <button mat-flat-button color="primary" matStepperNext  type="button">Next</button>
                </div>
              </div>
            </mat-step>
          </form>
        </div>

      </mat-stepper>
    </div>
  </div>
</div>
