<div class="column logo-wrap sp-bet">
  <div class="column">
    <h2 class="headline">DataZone</h2>
    <mat-divider class="bold"></mat-divider>
  </div>

  <div class="column">
    <div class="row sb-comp">
      <mat-icon>home_outlined</mat-icon>
      <p>Home</p>
    </div>
    <div class="row sb-comp">
      <mat-icon>bookmark_outlined</mat-icon>
      <p>Bookmarks</p>
    </div>
    <div class="row sb-comp">
      <mat-icon>insert_chart_outlined</mat-icon>
      <p>My Datasets</p>
    </div>
    <div class="row sb-comp">
      <mat-icon>download_outlined</mat-icon>
      <p>Downloads</p>
    </div>
    <div class="row sb-comp">
      <mat-icon>settings_outlined</mat-icon>
      <p>Settings</p>
    </div>
  </div>
  <div class="vert-space"></div>
  <div class="column">
    <div class="row sp-bet-row sb-comp">
      <div class="row">
        <mat-icon>notifications_none</mat-icon>
        <p>Notifications</p>
      </div>
      <p class="notification-badge">5</p>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <mat-icon class="icon-med">person_outline</mat-icon>
      <div class="column-st mar-all">
        <p class="zero-vt-mar">Daniel Moss</p>
        <p class="zero-vt-mar">some email</p>
      </div>
    </div>
  </div>
</div>
