<div class="divider">
  <div class="desc">
    <div class="desc-container">
      <h1>Data Zone</h1>
      <h3>Data Exchange and Analytics Platform</h3>
      <div class="row-sp-betwn">
        <div class="row row-items">
          <img
            class="icon-image"
            src="assets/images/calc.svg"
            alt="calc icon"
          />
          <h4 class="row-items">Data Visualization</h4>
        </div>
        <div class="row row-items">
          <img
            class="icon-image"
            src="assets/images/calc.svg"
            alt="calc icon"
          />
          <h4 class="row-items">Data Analytics</h4>
        </div>
      </div>
      <div class="row-sp-betwn">
        <div class="row-items">
          <p class="lt-300">
            Use intuitive visualizations to better understand the data. You can
            customize the charts easily to fit your purpose.
          </p>
        </div>
        <div class="row-items">
          <p class="lt-300">
            Unlock data's transformative power through comprehensive
            analysis—deep insights, tailored techniques driving success.
          </p>
        </div>
      </div>

      <div class="row-sp-betwn">
        <div class="row row-items">
          <img
            class="icon-image"
            src="assets/images/calc.svg"
            alt="calc icon"
          />
          <h4 class="row-items">Purchase Data</h4>
        </div>
        <div class="row row-items">
          <img
            class="icon-image"
            src="assets/images/calc.svg"
            alt="calc icon"
          />
          <h4 class="row-items">Sell Data</h4>
        </div>
      </div>
      <div class="row-sp-betwn">
        <div class="row-items">
          <p class="lt-300">
            Purchase datasets from reliable sources so that you can have a
            booming business.
          </p>
        </div>
        <div class="row-items">
          <p class="lt-300">
            Monetize your data effortlessly. Sell insights, maximize profits and
            unlock new revenue streams.
          </p>
        </div>
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true" style="height: 70vh"></mat-divider>
  <div class="sigin-form">
    <div class="form-container">
      <h1>Log in</h1>
      <p class="lt-300">Enter Your Login Detail To Sign in</p>
      <form [formGroup]="loginForm">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Enter your email address"
              formControlName="email"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hidePassword ? 'password' : 'text'"
              required
            />
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
              hidePassword ? "visibility" : "visibility_off"
            }}</mat-icon>
          </mat-form-field>
        </div>
        <div class="flex-end">
          <a href="">Forgot Password?</a>
        </div>
        <div class="center">
          <button
            class="submit-btn circular-radius"
            mat-button
            (click)="login()"
            [disabled]="!isFormValid"
          >
            Log in
          </button>
        </div>
      </form>
      <div class="margin-top">
        <p class="lt-350">
          Don’t have an account?
          <a
            class="navigator-anchor"
            [routerLink]="[]"
            (click)="navigateToSignup()"
            >Sign up</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
