<div class="about">
  <div class="description">

    <h2>Our Clients</h2>
    <p>We have been working with some Fortune 500+ clients</p>
  </div>
  <div class="info-row">
    <div class="info">
      <img src="./assets/images/Logo1.png" alt="" />
    </div>
    <div class="info">
      <img src="assets/images/Logo2.png" alt="" />
    </div>
    <div class="info">
      <img src="assets/images/Logo3.png" alt="" />
    </div>
    <div class="info">
      <img src="assets/images/Logo4.png" alt="" />
    </div>
    <div class="info">
      <img src="assets/images/Logo5.png" alt="" />
    </div>
    <div class="info">
      <img src="assets/images/Logo6.png" alt="" />
    </div>
  </div>
</div>
<div class="divider"></div>
