<div class="divider">
  <div class="sigin-form">
    <div class="form-container">
      <h1>Forget Password?</h1>
      <p>Your password will be reset by email</p>
      <form [formGroup]="emailForm">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Enter your Email</mat-label>
            <input
              matInput
              placeholder="Email address"
              formControlName="email"
            />
          </mat-form-field>
        </div>
        <div class="center">
          <button
            class="submit-btn circular-radius"
            mat-button
            (click)="onSubmit()"
          >
            Send Reset Link
          </button>
        </div>
      </form>
      <div class="margin-top">
        <p class="lt-350">
          <a class="navigator-anchor" [routerLink]="[]">Back</a>
        </p>
      </div>
    </div>
  </div>
</div>
