<div
  (click)="closeToast()"
  class="toast-container"
  [ngClass]="{ 'show-toast': showToast }"
>
  <custom-spinner *ngIf="toastType === 'loading'"></custom-spinner>
  <div class="text-container">
    <div class="loading-container" *ngIf="toastType === 'loading'">
      <span class="loading-text">{{ toast }}</span>
      <span class="ellipsis-animation"></span>
    </div>
  </div>
</div>
<app-success-indicator
  *ngIf="toastType === 'success'"
  [message]="toast"
></app-success-indicator>
<app-error-indicator
  *ngIf="toastType === 'error'"
  [message]="toast"
></app-error-indicator>
