.stepper-container{
    width: 50%;
    margin:0 auto;
}
.flex-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-end{
    align-self: flex-end !important;
}

.submit-btn {
    padding: 0.2rem 1rem;
    margin-top: 2rem;
    background-color: black;
    color: white !important;
  }

 

  .circular-radius {
    border-radius: 4px !important;
  }

  .btn-small{
   max-width: min-content;
   padding: 12px 20px;
   font-size: 20px;
  }