<div class="flex-vertical">
<section class="stepper-container">
    <header class="header">
        <h1>{{stepperTitle}} ({{ selectedIndex + 1 }}/{{ steps.length }})</h1>
    </header>

    <div [ngTemplateOutlet]="selected ? selected.content : null"></div>

    <footer class="flex-space-between flex-end">
        <button [disabled] = "selectedIndex === 0" class="submit-btn circular-radius" (click)="intermediateStep()" mat-button cdkStepperPrevious>
            Prev
        </button>
        <button  *ngIf = " selectedIndex !== steps.length-1" class="submit-btn circular-radius" (click)="intermediateStep()" mat-button cdkStepperNext>
            Next
        </button>
        <button  *ngIf = " selectedIndex === steps.length-1" class="submit-btn circular-radius btn-small" mat-button (click)="submit()">
            Done
        </button>
        
    </footer>

</section>

</div>