<div class="about">
  <div class="description">
    <h2>Exchange and Analyze data in a single Place</h2>
    <p>Who is DataZone suitable for?</p>
  </div>
  <div class="items">
    <div class="item">
        <div class="item-image">
            <img src="assets/images/Enthusiasts.svg" alt="">
        </div>
        <h3>Enthusiasts</h3>
        <p>Our membership management software provides full automation of membership renewals and payments</p>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="assets/images/companies.svg" alt="">
        </div>
        <h3>Companies</h3>
        <p>Our membership management software provides full automation of membership renewals and payments</p>
    </div>
    <div class="item">
        <div class="item-image">
            <img src="assets/images/academicians.svg" alt="">
        </div>
        <h3>Academicians</h3>
        <p>Our membership management software provides full automation of membership renewals and payments</p>
    </div>
  </div>
</div>
