/* dataset-report-detail.component.scss */
.report-detail-card {
  margin: 1em;
}

.approve-button {
  background-color: black;
  color: white;
}

.reject-button {
  background-color: red;
  color: white;
}
