.card-wrapper{
    width: 20%;
}

mat-card-title{
    font-size: 32px;
}
mat-card-subtitle{
    font-size: 10px;
}

mat-card-content{
    font-size: 12px;
}

.card-wrapper :hover{
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.title-wrapper{
    display: flex;
    padding-top:10vh;
    margin-bottom: 5vh;
    justify-content: center;
}