.first {
  flex: 0 0 25%;
  padding-top: 0.5rem;
  padding: 0 1rem;
  width: 25%;
}

.second {
  flex: 1;
  padding-right: 1rem;
}

.row {
  display: flex;
}

.row-end {
  justify-content: flex-end;
}

.pd-all {
  padding: 0.2rem;
}

.bg-img {
  position: relative;
  height: 100vh;
}

.bg-img::before {
  background-image: url("../../../../assets/images/background_net.svg");
  position: absolute;
  right: 0px;
  top: 30%;
  bottom: 0;
  left: 20%;
  background-size: cover;
  content: "";
  opacity: 0.4;
}

.container {
  height: 100vh;
}

.content {
  height: 100%;
  overflow: auto;
  padding: 1em;
}
