<div class="divider">
    <div class="progress-tracker">
        <mat-progress-bar class="color" mode="determinate" value={{progressBarValue}}></mat-progress-bar>
        <mat-list>
            <div mat-subheader>Progress</div>
              <mat-list-item disabled="{{!handleProgressList(i)}}" *ngFor="let item of progressStatus; let i = index">
                    <mat-icon matListItemIcon>{{handleProgressList(i)?"schedule":"done_all"}}</mat-icon>
                    <div matListItemTitle>step {{item.stepNo}}</div>
                    <div matListItemLine>{{item.stepDesc}}</div>
              
              </mat-list-item>
      </mat-list>
    </div>
    <mat-divider class="vertical-line" [vertical]="true" style="height: 70vh"></mat-divider>
    <app-custom-stepper stepperTitle="{{stepperTitle}}" linear="true"   (submitForm)="handleSubmitEvent($event)" (selectionChange)="handleSelectionChange($event)">
        <div class="company-profile-form">
            <div >  
              <form autocomplete="off" [formGroup]="completeProfileForm">
                <cdk-step>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label> Company Email</mat-label>
                    <input
                      matInput
                      formControlName="companyEmail"
                    />
                  </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                      <mat-label>Company Name</mat-label>
                      <input
                        matInput
                        formControlName="companyName"
                        required
                      />
                    </mat-form-field>

                  </div>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Company website</mat-label>
                    <input
                      matInput
                      formControlName="companyWebSite"
                    />
                  </mat-form-field>
                </div>
                <div>
                <mat-form-field appearance="outline" class="workflow-selector">
                    <mat-label>Choose Industry type</mat-label>
                    <mat-select
                      formControlName="industryType"
                    >
                      <mat-option *ngFor="let type of getIndustryTypes" [value]="type">{{
                        type
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Company Address</mat-label>
                    <input
                      matInput
                      formControlName="companyAddress"
                    />
                  </mat-form-field>
                </div>
            </cdk-step>   
            <cdk-step>
                <h2>Upcoming in the next versions</h2>
            </cdk-step>     
              </form>
            </div>
          </div> 
      </app-custom-stepper>
  </div>